<div class="container">
  <img
    src="../../../assets/images/san-francisco.png"
    width="100%"
    height="auto"
  />

  <h2
    style="
      color: red;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      font-family: SF Compact Display Regular;
    "
  >
    <span style="color: blue; font-size: 24px">re</span>Q
  </h2>

  <h2 class="header-2">
    Real Estate Investing Information That Matters to You.
  </h2>

  <h3 class="header-3">
    Limited to the San Francisco Bay Areat - Join Our BETA!
  </h3>

  <button class="button" (click)="signUpWithLinkedIn()">
    SIGN UP WITH LINKEDIN
  </button>
  <button class="disabled-button" disabled>Sign in</button>
</div>
